html {
    overflow: hidden;
    height: 100vh;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #17BEBB;
    color:white;
}

.log {
    background: #e9e9e9;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 60%;
}

.add-team-con{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    font-size: 1.5em;
}

.player-list{
    position: relative;
    height: 0px;
}

.team-list{
    position: relative;
    height: 0px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: "Raleway";
    font-size: 2em;
}

.view {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: "Lobster";
    font-size: 5em;
}

h3 {
    font-family: "Raleway";
    font-size: 3em;
    margin: 20px 0 35px 0;
}

.button {
    font-family: "Raleway";
    background: #E4572E;
    outline: none;
    color:white;
    border: 5px solid white;
    margin: 15px 10px;
    padding: 10px 20px;
    font-size: 2.5em;
    min-width: 212px;
    border-radius: 10px;
    box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 3px 3px -2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.button:hover{
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12); 
}

.control-button{
    font-size: 2em;
    padding: 10px 15px;
    margin: 10px 10px;
}

#reward{
    background: #76B041;
}

#rID {
    font-family: monospace;
}

#join-form {
    display: none;
}

input[type="text"] {
    outline: none;
    font-family: monospace;
    font-size: 2em;
    border: none;
    padding: 0 15px;
    border-radius: 5%;
}

.input-tight{
    width: 75%;
    font-size: 1em !important;
    padding: 0 5px !important;
    flex-grow: 1;
}

#home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.team-header{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 10px 15px;
    color:black;
    width: calc(100% - 30px);
}

.team-info{
    font-size: 61.8%;
    padding: 5px 20px;
    width: calc(100% - 40px);
}

#room-client {
    display: none;
}

#rw {
    font-family: "Raleway";
}

#room-host {
    display: none;
}

.hmbg-button{
    display: none;
}

.player {
    font-size: 2em;
    padding: 15px 10px;
    font-family: "Raleway";
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 20px);
    transition: 1s top;
    top:0;
    color:black;
}

.panel {
    display: flex;
    justify-content: space-between;
    flex-grow:1;
}

.mobile-container{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-grow:1;
    margin:30px;
}

.team-panel {
    width: 35%;
    background: #e9e9e9;
    border-radius: 1%;
    font-family: "Raleway";
    overflow-y: scroll;
}

.team {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    transition: 1s top;
    top:0;
}

.join {
    outline: none;
    border: none;
    background-color: darkseagreen;
    border-radius: 50%;
    width: 30px;
    color: white;
    font-size: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join .material-icons{
    font-size: inherit;
}

.kick{
    background: none;
    color:red;
}

.reset {
    background: none;
    color:green;
}

.black{
    background: none;
    color:#ababab;
    margin: 0 10px;
}

.header {
    background: #FC9E4F;
    color: white;
    margin: 0;
    border-radius: 1% 1% 0 0;
    padding: 4px 10px;
    font-family: "Raleway";
    order:0;
}
.button-container{
    display: flex;
    align-items: center;
}
input[type=number]{
    outline:none;
    border:none;
    font-family: monospace;
    width: 100px;
    font-size: 2em;
}
.player-score,.team-score{
    font-family: monospace;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: lightblue !important;
    }
    h2{
        font-size: 9em;
    }
    #home{
        display: none;
    }
    #join-form{
        display: flex;
        justify-content: flex-start;
        overflow: scroll;
    }
    #buzz{
        font-size: 5em;
        margin: 1em 0;
    }
    #room-client{
        display: none;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .panel{
        height: 100%;
        left:0;
        width: 200%;
        position: relative;
        transition: 1s all;
    }
    .mobile-container{
        display: block;
        overflow-x: hidden;
        flex-grow: 0;
        height: 60%;
        margin:0;
        position: relative;
    }
    .log{
        width: 100%;
        height: 100%;
        display: inline-flex;
    }
    .team-panel{
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    form{
        font-size: 2em;
        overflow: scroll;
    }
    .button{
        font-size: 2em;
        min-width: 300px;
    }
    .hmbg-button{
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        font-size: 3em;
        z-index: 4;
        position: absolute;
        right: 0px;
        top:0;
    }
    .header{
        font-size: 3.75em;
    }
    .hmbg-button .material-icons{
        font-size: 1.5em;
    }
    .player, .team{
        font-size: 3.5em;
    }
}